/*
Color Scheme:
- Light tan BG: #FFE6C7
- Light brown: #B28E61
- Light blue: #BEE9FF
- lighter blue/green: #DAF3FF
- darker blue/grey: #739DB2


*/

* {
  margin: 0px;
}

html, body {
  background-color: #FFE6C7;
  height: 100%
}

.contentWrapper {
  min-height: 100%;
  height: 100%;
  margin: 0 auto -110px;
}

/*
 * content Wrapper based on http://stackoverflow.com/questions/16679146/force-footer-on-bottom-on-pages-with-little-content
 */

#header {
  background-color: #B28E61;
  border-bottom: solid 5px #BEE9FF;
  text-align: center;
  
  position: relative;
  top: 0px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
  
  padding-top: 10px;
}

#footer {
  background-color: #B28E61;
  border-top: solid 5px #BEE9FF;
  text-align: center;

  padding-top: 50px;
  padding-bottom: 50px;
}


.todoItem {
  list-style-type: none;
}
